#container {
    background-color: indigo;
    display: flex;
    width: 100%;
    flex-direction: row;

}

#each-cate-container {
    background-color: slategray;
    width: 50%;
    border: 1px solid salmon;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
}