* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #FDF8E7;
    color:black;
}

.brand-title {
    font-size: 2rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(133, 81, 81);
    padding: 1rem;
}

.toggle-button {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: orange;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

@media (min-width: 901px) {
    .disappear {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}